<div class="flex flex-wrap w-full gap-3 justify-center">
  <p-card styleClass="min-w-80 border-none shadow-md" header="Tecnologias">
    <div class="flex flex-row justify-between">
      <p class="text-xl">38</p>
      <span class="bg-[#37a3eb38] p-3 rounded-md">
        <i class="text-center text-[#37a3eb] pi pi-globe text-lg"></i>
      </span>
    </div>
      <p class="p-2 m-0 text-sm">
        Você tem um total de <span class="text-[#0DA1BB] font-bold">38 tecnologias.</span>
      </p>
  </p-card>

  <p-card styleClass="min-w-80 border-none shadow-md" header="Projetos">
    <div class="flex flex-row justify-between">
      <p class="text-xl">38</p>
      <span class="bg-[#eba33738] p-3 rounded-md">
        <i class="text-center text-[#eba337] pi pi-folder text-lg"></i>
      </span>
    </div>
      <p class="p-2 m-0 text-sm">
        Você tem um total de <span class="text-[#eba337] font-bold">38 projetos</span>
      </p>
  </p-card>

  <p-card styleClass="min-w-80 border-none shadow-md" header="Mensagens">
    <div class="flex flex-row justify-between w-">
      <p class="text-xl">38</p>
      <span class="bg-[#e537eb38] p-3 rounded-md">
        <i class="text-center text-[#e537eb] pi pi-comments text-lg"></i>
      </span>
    </div>
      <p class="p-2 m-0 text-sm">
        Você tem um total de <span class="text-[#e537eb] font-bold">38 Mensagens</span>
      </p>
  </p-card>

  <p-card styleClass="min-w-80 border-none shadow-md" header="Visitas">
    <div class="flex flex-row justify-between">
      <p class="text-xl">38</p>
      <span class="bg-[#37eba038] p-3 rounded-md">
        <i class="text-center text-[#37eba0] pi pi-chart-bar text-lg"></i>
      </span>
    </div>
      <p class="p-2 m-0 text-sm">
        Você tem um total de <span class="text-[#37eba0] font-bold">400 visualizações</span>
      </p>
  </p-card>
</div>
