<div class="bg-slate-100 w-dvw flex flex-row h-[91dvh] p-10 gap-10">
  <div class="w-1/5 h-full">
    <p-panel styleClass="w-full border-none shadow-md" header="Menu">
      <ul class="text-surface-600">
        <li class="flex items-center border-b justify-between p-2 cursor-pointer hover:bg-surface-100 hover:rounded-md" (click)="changeState('sent')">Enviar <i class="pi pi-send"></i></li>
        <li class="flex items-center border-b justify-between p-2 rounded-md cursor-pointer hover:bg-surface-100 hover:rounded-md" (click)="changeState('contact')">Contato <i class="pi pi-phone"></i></li>
        <li class="flex items-center justify-between p-2 rounded-md cursor-pointer hover:bg-surface-100 hover:rounded-md" (click)="changeState('appointments')">Agendamentos <i class="pi pi-calendar"></i></li>

      </ul>
    </p-panel>
  </div>
  <div class="w-full">
    <ng-container  *ngIf="state === 'sent'">
      <app-sent-emails></app-sent-emails>
    </ng-container>

    <ng-container  *ngIf="state === 'contact'">
      <app-contacts-table-emails></app-contacts-table-emails>
    </ng-container>

    <ng-container  *ngIf="state === 'appointments'">
      AGENDAMENTOS
    </ng-container>

  </div>
</div>
