<div class="bg-slate-50 w-dvw flex flex-row h-[91dvh] p-10 gap-10">
  <div class="w-1/5 h-full">
    <p-panel styleClass="w-full" header="Menu">
      <ul class="text-surface-600">
        <li class="flex items-center border-b justify-between p-2 cursor-pointer hover:bg-surface-100 hover:rounded-md">Enviar <i class="pi pi-send"></i></li>
        <li class="flex items-center border-b justify-between p-2 rounded-md cursor-pointer hover:bg-surface-100 hover:rounded-md">Contato <i class="pi pi-phone"></i></li>
        <li class="flex items-center justify-between p-2 rounded-md cursor-pointer hover:bg-surface-100 hover:rounded-md">Agendamentos <i class="pi pi-calendar"></i></li>

      </ul>
    </p-panel>
  </div>
  <div class="w-full">
    <app-sent-emails></app-sent-emails>
  </div>
</div>
